/* AboutPage.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Ensure footer is positioned relative to this container */
}

.content-container {
  flex: 1; /* Takes up remaining space */
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1; /* Ensure footer appears above other elements */
}
